rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email == 'natsuki.ko006@gmail.com';
    }

    match /orders/{orderId} {
      allow create: if true;
      allow read: if isAdmin();
      allow update, delete: if false;
    }
    match /print_batches/{batchId} {
      allow read: if isAdmin();
      allow update: if isAdmin();
      allow create, delete: if false;
    }
    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;

      match /models/{taskId} {
        allow read, create: if request.auth != null && request.auth.uid == uid;
        allow update, delete: if false;
      }
    }
  }
}
