rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /orders/{fileName} {
      allow read: if true;
      allow write: if true;
    }
    match /models/{fileName} {
      allow read: if true;
      allow write: if true;
    }
    match /previews/{fileName} {
      allow read: if true;
      allow write: if true;
    }
    match /batches/{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
